<h1>Welcome to the Medical Provider Portal</h1>
  <h4>Please sign up or log in to access your patients</h4>

  <a href="/registrations/signup"><input type="submit" value="Sign Up"></a>
  <a href="/sessions/login"><input type="submit" value="Log In"></a>
